.singlePost {
  flex: 9;
  margin-top: 40px;
}
.singlePostWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-right: 0;
}
.singePostImage {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.singlePostTitle {
  font-family: "Rubik", sans-serif;
  width: 100%;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
.singlePostEdit {
  float: right;
  font-size: 20px;
}
.singlePostEdit i {
  cursor: pointer;
  margin: 10px;
}
.singlePostEdit i:first-child {
  color: teal;
}
.singlePostEdit i:last-child {
  color: tomato;
}
.singlePostInfo {
  margin-top: 3rem;
  color: tan;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.singlePostContent {
  margin-top: 1rem;
  padding: 0 20px;
  font-family: "Open Sans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.inputTitle {
  border: 1px solid black;
  font-family: "Rubik", sans-serif;
  width: 100%;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
.inputDesc {
  border: 1px solid black;
  padding: 0 20px;
  font-family: "Open Sans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    width: 100%;

}
.singlePostUpdateButton {
  background-color: teal;
  top: 60px;
  position: relative;
  top: 30px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;


}