.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.9)
  );
}
.registerTitle {
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  color: var(--color-light-gray);
  margin: 30px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registerForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
}
.registerForm label {
  font-size: 20px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}
.registerForm input {
  font-size: 16px;
  min-width: 400px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-light-gray);
  padding: 5px;
}
.registerButton {
  background-color: rgb(19, 141, 19);
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
}
.loginButton {
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 20px;
  background-color: coral;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
