* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.font-serif {
  font-family: "Merriweather", serif;
}

.font-sans {
  font-family: "Poppins", sans-serif;
}
.font-secondary {
  font-family: "Rubik", sans-serif;
}
.font-special {
  font-family: "Dancing Script", cursive;
}

.color-gray {
  color: #5a5a5a;
}
.color-font-gray {
  color: #afafaf;
}
:root {
  --color-light-gray: #afafaf;
}
